.App {
  /* text-align: center; */
}

.experience, 
.technologies,
.about,
.languages,
.strengths {
  border: 1px solid grey;
  margin: 5px;
}

.experience-unit {
  padding-left: 15px;
  margin: 0;
}

.header-name,
.experience-header, 
.skills-header,
.technologies-header,
.about-header,
.languages-header {
  text-transform: uppercase;
  padding-left: 15px;
}

.experience-institution {
  color: blue;
  text-decoration: none;
}

.experience.work {
  background-color: antiquewhite;
}

.experience.education {
  background-color: beige;
}

.skill {
  margin: 5px;
}

.picture img {
  width: 250px;

}