.App {
  display: grid;
  grid-template-columns: 30% 70%;
}

.intro-column {
  display: grid;
  /* the size should adjust to the size of screen */
  grid-template-rows: repeat(4, 15%) 10%;
}

.main-column {
  display: grid;
  grid-template-rows: 66% 34%;
}

.picture,
.header,
.experience,
.technologies,
.about,
.languages,
.strengths {
  border: 1px solid grey;
  margin: 5px;
}

.header-name,
.experience-header,
.skills-header,
.technologies-header,
.about-header,
.languages-header {
  text-transform: uppercase;
  padding-left: 15px;
}

/* PICTURE */
.picture {
}

.picture img {
  width: 250px;
}

/* HEADER */
.header {
  background-color: aliceblue;

}

/* ABOUT */
.about {
  background-color: gainsboro;
}

/* TECHNOLOGIES */
.technologies {
  background-color: honeydew;
 
}

/* LANGUAGES */
.skills.languages {
  background-color: thistle; 
}

.languages-unit {
  display: inline-block;
}

/* EXPERIENCE ( WORK + EDUCATION )  */
.experience-unit {
  padding-left: 15px;
  margin: 0;
}

.experience-institution {
  color: blue;
  text-decoration: none;
}

/* WORK */
.experience.work {
  background-color: antiquewhite;
  grid-row: 1;
  overflow-y: scroll;

}

/* EDUCATION */
.experience.education {
  background-color: beige;
  grid-row: 2;
  overflow-y: scroll;

}

/* STRENGTHS */
.strengths {
  background-color: darkkhaki;

}




